extends layout

block stylesheet-imports
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/login-style.css')

block content
  .container
    .card
      h3
        i(class="fas fa-book-reader")
        | &nbsp;StoryBooks
      .divider
      .section
        a(href="/auth/google" class="btn red darken-1")
          i(class="fab fa-google left")
          | Log in with Google
